# Pliki binarne
bin/
*.exe
*.obj
*.dll
*.pdb
*.lib
*.ilk
*.exp
*.o
*.a

# Pliki generowane przez kompilator MSVC
*.idb
*.ipdb
*.ipch
*.tlog
*.log
*.pch
*.res
*.sdf
*.aps
*.manifest

# Pliki konfiguracyjne VSCode
.vscode/

# Pliki CMake (jeśli używasz)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Pliki tymczasowe systemowe
Thumbs.db
.DS_Store
